#navbar{
    flex-direction: column;
    padding: 0.5rem 0;
    overflow: hidden;
    height: 90px;
}
#training .items{
    flex-direction: column;
}
#training .items .item{
    width: 100%;
}
#training .items .item p{
    text-align: justify;
}
.courses .course{
    flex-direction: column;
    
}